<a href="https://colab.research.google.com/github/Huang-Che-Yu/Python0425/blob/main/4_%E5%BB%BB%E5%9C%88loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# range() 函式

使用range 函式 的建立整數循序數列
 
變數1 = range(整數值)

變數2 = range(起始值, 終止值)

變數3 = range(起始值, 終止值, 多少間隔)

# 變數1 = range(整數值)

In [1]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 變數2 = range(起始值, 終止值)

In [2]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

# 變數3 = range(起始值, 終止值, 多少間隔)

In [3]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [4]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

# [2]for 廻圈

使用for 廻圈 執行固定次數的廻圈運算(通常)

範例 1:

In [5]:
for n in range(5):
  print(n)

0
1
2
3
4

範例 2:

In [6]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

範例 3:底下兩個程式輸出為何? and why?

程式1

In [7]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

程式2

In [8]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

Python 程式碼縮排

Python 語言以冒號「:」及縮排來表示程式區塊

縮排為 1 個 Tab 鍵或 4 個空白鍵

範例 4:計算1+2+3+ .....+ n

In [9]:
x = int(input("請輸入一個正整數:"))

mysum = 0

for n in range(x+1): ## 為什麼不是range(x)?
  mysum += n

print(mysum)

請輸入一個正整數:8
36

作業1:計算n!(==1*2*3* .....*n)

作業2:輸入n

      若n是偶數 則 輸出2+4+6+..+n 答案
      若n是奇數 則 輸出1+3+5+..+n 答案

作業3:續上題 增加判斷條件 ==> 輸入驗證(input validation)
      若使用者輸入錯誤(如 -3 或是 11.5等) 請他再輸入一次

作業4:再續上題 增加 錯誤次數記錄
      若 錯誤次數記錄 大於3次  輸出"你下輩子再來玩吧!"

以上題目再用while  loop再寫一次 ~~~~

# [程式閱讀題]執行下列程式並說明其結果

In [10]:
#底下程式如果第五行改成  if (number % 2 = 0):答案會是甚麼??

numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

# [3]While Loop

使用 while loop設計 
n階程的計算:n!=1*2*3*⋯*n

1!　=　１

2!　=　1*2　=　2

3!　=　1*2*3　=　6

輸入::一個正整數 n
輸出::n!

當使用者輸入一個正整數 n 後，程式就會顯示
1*2*3*...*n 的乘積

程式範例

In [11]:
total = i = 1

n = int(input("請輸入正整數 n 的值：")) # 再問一次:為什麼要加

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：8
8!=40320

# [4]break 指令

可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

In [12]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  # 要執行程式請記得把底下兩行 # 去除 
    if (fruit==""):
        break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：232
232 不在串列中!
請輸入喜歡的水果(Enter 結束)：

# [5]continue 指令

在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處繼續執行

撰寫一個可以排除數列中 5 的倍數的程式

輸入::一個正整數 n

輸出::

使用者只要輸入一個正整數，
程式會顯示由 1 到該整數的整數數列，但會將 5 的倍數排除

In [13]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

請輸入正整數：8
1 2 3 4 6 7 8

# [6]巢狀廻圈Nested Loop[自主學習主題]

廻圈中又包含廻圈 ==> 巢狀廻圈(Nested Loop)

In [14]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

作業1:計算上題的總和

程式設計題:九九乘法表

# 小小測驗:不必教 [自主學習主題]

底下程式執行結果為何?

In [15]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [16]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [17]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [18]:
for x in range(0,19,-1):
  print(x)

In [23]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [22]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [21]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

[程式閱讀題] 下列程式輸入淨利潤為11111時請問輸出為何?

In [24]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:11111
1111.1000000000001
1111.1000000000001